<ion-header>
    <ion-navbar class="borde">
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
                    <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
                </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                                style="width:85%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content class="card-background-page">

    <div padding>

        <ion-row>
            <ion-col col-5>
                <h2>
                    <b>Sucursales</b>
                    <div class="detalle">Eventos</div>
                </h2>
            </ion-col>
            <ion-col col-7>

                <ion-item style="background: #E49602;">
                    <ion-label>
                        <h3 class="colorIcon"
                            style="text-align:initial; margin-left: 0px;color: white;text-transform: uppercase;font-size: 16px;">
                            Ciudad:
                        </h3>
                    </ion-label>
                    <ion-select [(ngModel)]="filterPostCiudad" interface="popover" class="colorIcon"
                        style="color: #fff; text-align: center; font-size: auto;">
                        <div *ngFor="let ciudad of ciudades">
                            <ion-option [value]="ciudad.ciudad">{{ ciudad.ciudad }}</ion-option>
                        </div>
                    </ion-select>
                </ion-item>

            </ion-col>

        </ion-row>
    </div>

    <hr>

    <div *ngIf="page.data" text-center>

        <img src="./assets/content/advertencia.png" alt="">

        <div text-center>

            <h4 style="color: #000;"><b>Aún no hay eventos que mostrar.</b></h4>

        </div>

    </div>
    <div class="content" scrollable (scrollPosition)="scrollHandler($event)">
        <div class="container" *ngFor="let evento of page.data | async | pipesFilterEvento: filterPost | pipesFilterCiudad: filterPostCiudad; let i = index;">
            <button style="background-color:white !important;" (click)="verDetalle(evento.uid, evento.uidSucursal)">
                <ion-card class="card-image">
                    <img [src]="evento.img" />
                    <div class="card-title">{{ evento.titulo }}</div>
                    <div class="card-subtitle">{{ (evento.uidSucursal | getSucursal | async)?.direccion }},
                        {{ (evento.uidSucursal | getSucursal | async)?.ciudad }}</div>
                </ion-card>
            </button>
        </div>
    </div>
    <p *ngIf="page.done | async"></p>

    <ion-footer>
        <loading-spinner  *ngIf="page.loading | async"></loading-spinner>
    </ion-footer>

</ion-content>