<div align="center">
  <div *ngIf="userImage">
      <div *ngIf="nombresUserss.provider == 'facebook'">
          <div *ngIf="nombresUserss.status_foto == 0">
              <img [src]="userImage.photoURL" class="imgRedonda">
              <p style="color: white;font-size: large;">{{nombresUserss.displayName}}</p>
          </div>
          <div *ngIf="nombresUserss.status_foto == 1">
              <img class="imgRedonda" src="{{userImage.photoURL}}">
              <p style="color: white;font-size: large;">{{nombresUserss.displayName}}</p>
          </div>
      </div>
      <div *ngIf="nombresUserss.provider == 'google'">
          <div *ngIf="nombresUserss.status_foto == 0">
              <img class="imgRedondas" src="{{userImage.photoURL}}?type=large&width=720&height=720">
              <p style="color: white;font-size: large;">{{nombresUserss.displayName}}</p>
          </div>
          <div *ngIf="nombresUserss.status_foto == 1">
              <img class="imgFotogoogle" src="{{userImage.photoURL}}">
              <p style="color: white;font-size: large;">{{nombresUserss.displayName}}</p>
          </div>
      </div>
  </div>
</div>
