page-producto-detalle {

    //Nuevo
    .toolbar-background {
        background-image: url('../assets/content/head.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .borde {
        margin-top: 0em;
    }

    .lugar {
        color: #000;
    }

    //Nuevo
    .botonMod {
        // background: white;
        // height: 38px;
        // border-radius: 60%;
        // margin-top: 5px;
        // width: 26px;
      }

      .imgMenu{
        width: 40px;
        margin-top: 15px;
      }


    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #ffffff;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #eccc68;
        }
    }
    #badge-titulo {
        width: 32rem;
        height: 12rem;
        font-size: 2rem;
        background-color: #eccc68c7;
    }
    #badge-stitulo {
        margin-top: 10%;
    }
    .toolbar-background-md {
        background-color: rgba(0, 0, 0, 0.5);
    }
    .toolbar-background-ios {
        background-color: rgba(0, 0, 0, 0.5);
    }
    #mas_menos {
        max-width: 4rem;
        margin-top: -1rem;
    }
    .caja {
        border-radius: 6px;
        overflow: hidden;
        height: 2.6rem;
        width: 70%;
        font-size: 2.4rem;
        font-weight: 390;
        text-transform: uppercase;
        color: #000;
        margin: auto;
        margin-top: 0.5rem;
    }
    #caja {
        margin-top: 5px;
        margin-top: -1rem;
    }
    #pisto {
        margin-top: 4rem;
    }
    .fondo {
        background: black;
        border-bottom: #e49602 1.4px groove;
    }
    .icon_img{
        width: 30px;
        height: 30px;
        margin-left: 50%;
    }
    .card_atras2 {
            background-color: transparent;
    }
    .card_atras3 {
            background-color: transparent;
            border-bottom: #e49602 1.4px solid;
            border-top: #e49602 0.2px solid;
    }
    .blanco_1 {
        font-size: 16px;
        resize: none;
        color: #fff;
    }
    .card-fondo {
    background: transparent;
    }
    .card-md {
        margin: auto;
    }
    .blanco_2 {
        font-size: 16px;
        resize: none;
        color: #fff;
        text-transform: uppercase;
    }

    .titulo {
        text-transform: uppercase;
        color: #706F6F;
        text-align: center;
        font-size: larger;
    }

    .titulo_s {
        text-transform: uppercase;
        color: #706F6F;
        font-size: larger;
        font-weight: bolder;
    }

    .nota{
        color: #706F6F;
        text-align: justify;
    }

    .precionum {
        color: #706F6F;
        font-size: larger;
        font-weight: bolder;
    }

    .colorbtn {
        background-color: #FFC149;
        color: #fff;
        text-transform: uppercase;
    }

}
