<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
          <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
          <img src="./assets/imgs/Group4.png" alt="" class="imgMenu" />
        </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" style="width: 60%" alt="" />
            </ion-col>
            <ion-col>
                <div align="end">
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width: 40%; border-radius: 50%" />
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px; height: 46px; border-radius: 50%" />
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width: 85%; border-radius: 50%" />
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px; height: 46px; border-radius: 50%" />
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <div *ngFor="let sucur of sucurSel">
                <p class="lugar" *ngIf="sucur.uid == idSucursal">
                    LUGAR: {{ sucur.displayName}} {{eventoSel.titulo}}
                    <br />
                    <!-- <span style="position:absolute;margin-top:-10px">________________</span> -->
                    <img src="./assets/icon/Vector10.png" style="width: 40%" alt="" />
                </p>
            </div>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <br /><br />

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <p class="titulo">{{product.nombreFamiliaProducto}}</p>

            <br /><br />

            <img src="./assets/icon/Vector23.png" width="100%" alt="" />
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <ion-row>
                <ion-col col-8>
                    <p class="titulo_s">{{product.nombreProducto}}</p>
                    <p class="titulo_s">{{product.nombreUnidadPrincipal}}</p>
                </ion-col>
                <ion-col col-4>
                    <p class="titulo_s">PRECIO</p>
                    <p class="precionum">{{product.precioLista | currency}}</p>
                </ion-col>
            </ion-row>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <ion-grid id="pisto">
        <ion-row>
            <ion-col col-4>
                <div text-right>
                    <img src="assets/imgs/icons/menos.png" id="mas_menos" (click)="decrement(); validarBoton();" />
                </div>
            </ion-col>
            <ion-col col-4 id="caja">
                <div class="caja" text-center>
                    <span>{{pisto}}</span>
                </div>
            </ion-col>
            <ion-col col-4>
                <div text-rigth>
                    <img src="assets/imgs/icons/mass.png" id="mas_menos" (click)="increment(); validarBoton();" />
                </div>
            </ion-col>
        </ion-row>
        <ion-row align="center">
            <div *ngIf="modificar != true; then add else update"></div>
            <ng-template #add>
                <ion-col col-12>
                    <div text-center>
                        <button ion-button round block class="colorbtn" (click)="(agregar(product.nombreProducto, product.precioLista))" [disabled]="disableButton">
                        Agregar
                        </button>
                    </div>
                </ion-col>
            </ng-template>
            <ng-template #update>
                <ion-col col-6>
                    <button ion-button round block class="colorbtn" (click)="(modificar_(product.precioLista, key))" [disabled]="disableButton">
                        Modificar
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button ion-button round block color="danger" (click)="(eliminar(key))">
                        Eliminar
                    </button>
                </ion-col>
            </ng-template>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-grid>
        <ion-row align="center">
            <ion-col col-2></ion-col>
            <ion-col col-8>
                <div text-center>
                    <button ion-button round block class="colorbtn" (click)="(goBack())">
            Atras
          </button>
                </div>
            </ion-col>
            <ion-col col-2></ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>