<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853477386824-bttnoko079htcbp17dcfb4463ua97mq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853477386824-bttnoko079htcbp17dcfb4463ua97mq9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>853477386824-bareu6g1s21nrqfmoscf19u1g82opim6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDazhcGRFpW8BYJk0ZkxA87Kmje_Lf7pa4</string>
	<key>GCM_SENDER_ID</key>
	<string>853477386824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guestreservations.guest03</string>
	<key>PROJECT_ID</key>
	<string>guestreservation-8b24b</string>
	<key>STORAGE_BUCKET</key>
	<string>guestreservation-8b24b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853477386824:ios:00c40b96ad4eb961b0867d</string>
	<key>DATABASE_URL</key>
	<string>https://guestreservation-8b24b.firebaseio.com</string>
</dict>
</plist>