<ion-header>
  <ion-navbar class="borde" hideBackButton>
    <ion-row>
      <ion-col>
        <ion-icon
          name="ios-arrow-back-outline"
          (click)="behind()"
          style="color: white; font-size: 4.2em"
        >
        </ion-icon>
      </ion-col>
      <ion-col align="center">
        <img
          src="./assets/imgs/Logoblanco.png"
          (click)="goInicio()"
          style="width: 60%"
          alt=""
        />
      </ion-col>
      <ion-col>
        &nbsp;
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2>
    <b>Reservación</b>
    <div class="detalle">Detalle</div>
  </h2>

  <hr />

  <div *ngFor="let infoR of infoReservaciones">
    <ion-row>
      <ion-col col-2></ion-col>

      <ion-col col-8>
        <div align="center">
          <img
            class="imagen_perfil"
            src="{{ (idSucursal | getSucursal | async)?.photoURL }}"
          />
        </div>

        <p class="nombre">
          {{ (idSucursal | getSucursal | async)?.displayName }}

          <img
            *ngIf="infoR?.estatus == 'Aceptado'"
            src="./assets/content/Ellipse55.png"
            class="imgElli"
            alt=""
          />
          <img
            *ngIf="infoR?.estatus == 'Cancelado'"
            src="./assets/content/Ellipse43.png"
            class="imgElliC"
            alt=""
          />
          <img
            *ngIf="infoR?.estatus == 'Creando'"
            src="./assets/content/Ellipse43.png"
            class="imgElliC"
            alt=""
          />
        </p>
      </ion-col>

      <ion-col col-2></ion-col>
    </ion-row>

    <hr />

    <br />

    <div align="center">
      <ion-icon
        ios="ios-list"
        md="md-list"
        item-start
        style="color: #fcc04d"
      ></ion-icon>
      <font size="2" color="#474646"> <b> DETALLES DE LA RESERVACIÓN </b></font>
    </div>

    <ion-list>
      <!-- UID RESERVACION -->

      <ion-item>
        <ion-icon
          ios="ios-key"
          md="md-key"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        UID reservación

        <ion-note item-end> {{ infoR?.idReservacion }} </ion-note>
      </ion-item>

      <!-- FOLIO RESERVACION -->

      <ion-item>
        <ion-icon
          ios="ios-folder-open"
          md="md-folder-open"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Folio reservación

        <ion-note item-end> {{ infoR?.folio }} </ion-note>
      </ion-item>

      <!-- FECHA RESERVACION -->

      <ion-item>
        <ion-icon
          ios="ios-calendar"
          md="md-calendar"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Fecha reservación

        <ion-note item-end>
          {{ infoR?.fechaR | date : 'dd/MM/yyyy' }}
        </ion-note>
      </ion-item>

      <!-- HORA RESERVACION -->

      <ion-item>
        <ion-icon
          ios="ios-clock"
          md="md-clock"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Hora reservación

        <ion-note item-end> {{ infoR?.hora }} </ion-note>
      </ion-item>

      <!-- CODIGO RP -->

      <ion-item>
        <ion-icon
          ios="ios-keypad"
          md="md-keypad"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Código RP usado

        <ion-note item-end> {{ infoR?.codigoRP }} </ion-note>
      </ion-item>

      <!-- MESA -->

      <ion-item>
        <ion-icon
          ios="ios-grid"
          md="md-grid"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Mesa

        <ion-note item-end> {{ infoR?.numMesa }} </ion-note>
      </ion-item>

      <!-- PERSONAS -->

      <ion-item>
        <ion-icon
          ios="ios-people"
          md="md-people"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Número de personas

        <ion-note item-end> {{ infoR?.numPersonas }} </ion-note>
      </ion-item>

      <!-- ZONAS -->

      <ion-item>
        <ion-icon
          ios="ios-keypad"
          md="md-keypad"
          item-start
          style="color: #fcc04d"
        ></ion-icon>

        Zona

        <ion-note item-end>
          {{ (infoR?.idZona | getZona | async)?.nombre }}

        </ion-note>
      </ion-item>
    </ion-list>

    <hr />

    <div align="center">
      <ion-icon
        ios="ios-list"
        md="md-list"
        item-start
        style="color: #fcc04d"
      ></ion-icon>
      <font size="2" color="#474646"> <b> CUENTA</b></font>
    </div>
    <div align="center">
      <ion-grid>
        <ion-row class="header-row">
          <ion-col><b>Producto</b></ion-col>

          <ion-col><b>Cantidad</b></ion-col>

          <ion-col><b>Costo</b></ion-col>

          <ion-col><b>Total</b></ion-col>
        </ion-row>

        <ion-row *ngFor="let pro of productos">
          <ion-col>{{ pro.producto }}</ion-col>

          <ion-col>{{ pro.cantidad }} </ion-col>

          <ion-col>{{ pro.costo | currency }}</ion-col>

          <ion-col>{{ pro.total | currency }} </ion-col>
        </ion-row>

        <div *ngIf="validarCupon=='Noexiste'">
          <!-- TOTAL RESERVACIÓN -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col><b>Subtotal</b></ion-col>
            <ion-col><b>{{ total | currency }}</b></ion-col>
          </ion-row>

          <!-- COMISION 5.9 -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>Comision 5.9</ion-col>
            <ion-col>{{ comision | currency }}</ion-col>
            <!-- <ion-col *ngIf="soloTotal ==''">{{totalPropina*.059 | currency}}</ion-col>
                        <ion-col *ngIf="soloTotal =='1'">{{total*.059 | currency}}</ion-col> -->
          </ion-row>

           <!-- IVA -->
           <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>IVA</ion-col>
            <ion-col>{{ iva | currency }}</ion-col>
            <!-- <ion-col *ngIf="soloTotal ==''"> {{totalPropina*.16 | currency}}</ion-col>
                        <ion-col *ngIf="soloTotal =='1'">{{total*.16 | currency}}</ion-col> -->
          </ion-row>

          <!-- PROPINA -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>Propina</ion-col>
            <ion-col>{{ propinaRe | currency }}</ion-col>
          </ion-row>

         
          <!-- TOTAL -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col><b>Total</b></ion-col>
            <ion-col><b>{{ totalNeto | currency }}</b></ion-col>
            <!-- <ion-col *ngIf="soloTotal ==''">
                            <b>{{(totalPropina*.059)+(totalPropina*.16)+(totalPropina) |
                                currency}}
                            </b>
                        </ion-col>
                        <ion-col *ngIf="soloTotal =='1'"><b> {{(total*.059)+(total*.16)+(total) | currency}} </b>
                        </ion-col> -->
          </ion-row>
        </div>

        <!-- CON CUPON -->
        <div *ngIf="validarCupon=='Existe'">
          <!-- CUPON DESCUENTO -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>Cupón</ion-col>
            <ion-col>-{{ valorCupon | currency}}</ion-col>
          </ion-row>

          <!-- CUPON DESCUENTO -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col><b>Subtotal</b></ion-col>
            <ion-col
              ><b>{{ infoR?.totalReservacion | currency}}</b></ion-col
            >
          </ion-row>

          <!-- Comision 5.9  -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>Comision 5.9</ion-col>
            <ion-col>{{ comision | currency }}</ion-col>
          </ion-row>

          <!-- IVA  -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>IVA</ion-col>
            <ion-col>{{ iva | currency }}</ion-col>
          </ion-row>

          <!-- PROPINA -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col>Propina</ion-col>
            <ion-col>{{ propinaRe | currency }}</ion-col>
          </ion-row>

          <!-- Total  -->
          <ion-row>
            <ion-col></ion-col>
            <ion-col><b></b></ion-col>
            <ion-col><b>Total</b></ion-col>
            <ion-col>
              <b>{{ totalNeto | currency}}</b>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>
    </div>

    <hr />
    <br />

    <!-- COMPARTIDAS ACEPTAR  -->

    <div
      *ngIf="infoR?.estatus == 'Compartida' || infoR?.estatus =='CreadaCompartida' || infoR?.estatus == 'AceptadoCompartida'"
    >
      <div align="center">
        <ion-icon
          ios="ios-list"
          md="md-list"
          item-start
          style="color: #fcc04d"
        ></ion-icon>
        <font size="2" color="#474646"> <b> CUENTA COMPARTIDA ENTRE</b></font>
      </div>

      <div *ngFor="let compartidas of cuentasCompartidas">
        <ion-list>
          <!-- USUARIOS -->

          <ion-item>
            <ion-icon
              ios="ios-person"
              md="md-person"
              item-start
              style="color: #fcc04d"
            ></ion-icon>

            {{ (compartidas.telefono | getCompartidaTelUs | async)?.displayName
            }}
            <ion-badge class="negro" item-end>
              {{compartidas.estatus}} <br />
              {{compartidas.estatus_pago}}
            </ion-badge>

            <ion-note item-end>
              {{compartidas.totalDividido | currency}}
            </ion-note>
          </ion-item>
        </ion-list>

        <div *ngIf="resultadoEspera == 'true'">
          <div *ngIf="compartidas.estatus == 'Aceptado'">
            <div *ngIf="miUser.phoneNumber == compartidas.telefono">
              <div *ngIf="compartidas.estatus_pago == undefined">
                <div *ngIf="infoR?.estatus == 'AceptadoCompartida'">
                  <button
                    *ngIf="this.tarjeta == 1"
                    ion-button
                    full
                    (click)="genararQR(infoR?.idReservacion,compartidas.totalDividido,compartidas.idUsuario,compartidas.telefono,compartidas.idCompartir,infoR?.folio, nombreUsuarios)"
                  >
                    Pagar mi parte
                  </button>
                  <button
                    *ngIf="this.tarjeta == 0"
                    ion-button
                    full
                    (click)="genararQR_revisarTarjeta()"
                  >
                    Pagar mi parte
                  </button>
                </div>
              </div>
              <div *ngIf=" countCompartidas == countComPagadas">
                <button
                  ion-button
                  full
                  color="secondary"
                  (click)="genararQR_Pagado(infoR?.idReservacion,compartidas.idCompartir)"
                >
                  QR generado
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />

    <!--Mostrar datos de la cuenta no compartida con el boton para pagar-->

    <div *ngIf="infoR?.estatus=='Aceptado'">
      <div *ngIf="infoR?.estatus_pago==undefined">
        <div *ngIf="validarCupon=='Existe'">
          <button
            ion-button
            full
            *ngIf="this.tarjeta==1"
            (click)="genararQRNormal(infoR?.idReservacion,totalNeto,infoR?.idUsuario,infoR?.folio)"
          >
            Pagar cuenta
          </button>

          <button
            ion-button
            full
            *ngIf="this.tarjeta==0"
            (click)="genararQRNormal_revisarTarjeta()"
          >
            Pagar cuenta
          </button>
        </div>
        <div *ngIf="validarCupon=='Noexiste'">
          <button
            ion-button
            full
            *ngIf="this.tarjeta==1"
            (click)="genararQRNormal(infoR?.idReservacion,totalNeto,infoR?.idUsuario,infoR?.folio)"
          >
            Pagar cuenta
          </button>

          <button
            ion-button
            full
            *ngIf="this.tarjeta==0"
            (click)="genararQRNormal_revisarTarjeta()"
          >
            Pagar cuenta
          </button>
        </div>
      </div>

      <!--Boton del QR generado si la reservacion ya fue pgada -->

      <div *ngIf="infoR?.estatus_pago=='Pagado'">
        <p text-center>*Cuenta pagada*</p>
        <button
          ion-button
          color="secondary"
          full
          (click)="genararQR_Pagado(infoR?.idReservacion,infoR?.compartir)"
        >
          QR generado
        </button>
      </div>
    </div>

    <!-- CANCELAR RESERVACION  -->

    <div
      *ngIf="infoR?.estatus =='Creando' || infoR?.estatus == 'Aceptado' && infoR?.estatus_pago == undefined && infoR?.idUsuario == idUser"
    >
      <div class="centradoB2">
        <button
          class=""
          ion-button
          color="danger"
          full
          (click)="eliminarReservacion(infoR?.idReservacion, infoR?.folio, infoR?.playerIDSuc)"
        >
          <p class="pagar">Cancelar la reservación</p>
        </button>
      </div>
    </div>
    <div
      *ngIf="infoR?.estatus == 'Compartida' && infoR?.idUsuario == idUser"
    >
      <div class="centradoB2">
        <button
          class=""
          ion-button
          color="danger"
          full
          (click)="eliminarReservacion(infoR?.idReservacion, infoR?.folio, infoR?.playerIDSuc)"
        >
          <p class="pagar">Cancelar la reservación</p>
        </button>
      </div>
    </div>
    <div
      *ngIf="infoR?.estatus=='CreadaCompartida' && infoR?.idUsuario == idUser"
    >
      <div class="centradoB2">
        <button
          class=""
          ion-button
          color="danger"
          full
          (click)="eliminarReservacion(infoR?.idReservacion, infoR?.folio, infoR?.playerIDSuc)"
        >
          <p class="pagar">Cancelar la reservación</p>
        </button>
      </div>
    </div>
    <div
      *ngIf="infoR?.estatus == 'AceptadoCompartida' && countComPagadas == 0 && infoR?.idUsuario == idUser"
    >
      <div class="centradoB2">
        <button
          class=""
          ion-button
          color="danger"
          full
          (click)="eliminarReservacion(infoR?.idReservacion, infoR?.folio, infoR?.playerIDSuc)"
        >
          <p class="pagar">Cancelar la reservación</p>
        </button>
      </div>
    </div>
  </div>

  <br />
</ion-content>
