<ion-header>
    <ion-navbar class="borde">
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
                    <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
                </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <!-- <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:40%;border-radius:50%;">
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:85%;border-radius:50%;">
                    </div>
                </div> -->
                <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                                style="width:85%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<br>
<ion-content>

    <ion-row>
        <ion-col col-5>
            <h2>
                <b>PERFIL</b>
                <div class="detalle">TUS DATOS</div>
            </h2>
        </ion-col>
        <ion-col col-5>

        </ion-col>
        <ion-col col-2>
            <button *ngIf="invitado != 'true'" class="btnEditar" (click)="editarPerfil()">Editar</button>
        </ion-col>
    </ion-row>

    <hr>

    <div align="center">
        <div *ngIf="nombresUserss.provider == 'facebook'">
            <div *ngIf="nombresUserss.status_foto == 0">
                <img class="imgRedonda" src="{{nombresUserss.photoURL}}" (click)="loadinCamara();">
            </div>
            <div *ngIf="nombresUserss.status_foto == 1">
                <img class="imgRedonda" src="{{nombresUserss.photoURL}}" (click)="loadinCamara();">
            </div>
        </div>
        <div *ngIf="nombresUserss.provider == 'google'">
            <div *ngIf="nombresUserss.status_foto == 0">
                <img class="imgRedondas" src="{{nombresUserss.photoURL}}?type=large&width=720&height=720"
                    (click)="loadinCamara();">
            </div>
            <div *ngIf="nombresUserss.status_foto == 1">
                <img class="imgFotoGoogle" src="{{nombresUserss.photoURL}}" (click)="loadinCamara();">
            </div>
        </div>
    </div>

    <br>
    <ion-list no-lines class="margen_2" style="padding: 20px;">

        <ion-card>
            <ion-row>
                <ion-col col-2>
                    <img class="icon" src="../assets/imgs/icons/Group24.png" style="width:40px;height:40px" item-start>

                </ion-col>
                <ion-col col-6>

                    <h4 class="letras"> Nombre:</h4>

                    <div class="usuarioN">{{user.displayName}}</div>
                </ion-col>

            </ion-row>
        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col col-2>
                    <ion-icon class="ins" style="color: #fcc04d" ios="logo-instagram" md="logo-instagram"></ion-icon>
                </ion-col>
                <ion-col col-6>

                    <h4 class="letras"> Instagram:</h4>

                    <div class="usuarioN">
                        
                        <a [href]="user.instagram"> {{ user.instagram }}</a></div>
                </ion-col>

            </ion-row>
        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col col-2>
                    <img class="icon" src="../assets/imgs/icons/Group101.png" style="width:40px;height:40px" item-start>
                </ion-col>
                <ion-col col-10>

                    <h4 class="letras"> Correo:</h4>
                    <div class="usuarioN">
                        {{ user.email}}
                    </div>
                </ion-col>
            </ion-row>

        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col col-2>
                    <img class="icon" src="../assets/imgs/icons/Group251.png" style="width:40px;height:40px" item-start>

                </ion-col>

                <ion-col col-10>
                    <h4 class="letras">Teléfono:</h4>


                    <div class="usuarioN">
                        {{user.phoneNumber}}
                    </div>

                </ion-col>
            </ion-row>

        </ion-card>

        <ion-card>
            <ion-row>
                <ion-col col-2>
                    <img class="icon" src="../assets/imgs/tarjeta_New.png" style="width:40px;height:40px" item-start>
                </ion-col>

                <ion-col col-10>
                    <h4 class="letras">Tarjeta:</h4>

                    <div *ngFor="let tarjetas of misTarjetas">
                        <div *ngIf="tarjetas.estatus=='ACTIVA'">
                            <div *ngIf="tarjetas.idUsuario==user.uid">
                                <div class="usuarioN">
                                    **** **** **** {{tarjetas.numTarjeta4dijitos}}
                                </div>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>

        </ion-card>

        <div align="center">
            <button
                style="border-radius:10px;background-color:#eb445a;width:50px;width:130px;height:30px;margin-top:40px"
                (click)="alertDeleteAccount(user.uid)" block>
                <font color="white">Borrar cuenta</font>
            </button>
        </div>
    </ion-list>
</ion-content>