<ion-header>
    <ion-navbar>
        <!-- <ion-title>modalmesas</ion-title> -->
    </ion-navbar>
</ion-header>

<ion-content class="fondo2">
    <ion-item-group>
        <ion-row class="grid-3 grid-example">
            <ion-col width-50 class="grid-item" *ngFor="let mesa of mesas">
                <div *ngIf="mesa.estatus=='libre'">
                    <div class="grid-item-wrapper">
                        <div class="grid-item-inner" (click)="selecMesa(mesa.id)">
                            <ion-icon class="icono"><img src="../assets/imgs/icons/mesa.png" /></ion-icon>
                            <!-- <div class="grid-item-inner" class="color1">
                            {{mesa.numPersonas}}
                        </div> -->
                        </div>
                        <div class="numMesas" text-center>
                            {{mesa.mesa}}
                        </div>
                    </div>
                </div>
                <div *ngIf="mesa.estatus=='ocupada'">
                    <div class="grid-item-wrapper1">
                        <div class="grid-item-inner1" (click)="selecMesa(mesa.id)">
                            <ion-icon class="icono"><img src="../assets/imgs/icons/mesa.png" /></ion-icon>
                            <!-- <div class="grid-item-inner" class="color1">
                                {{mesa.numPersonas}}
                            </div> -->
                        </div>
                        <div class="numMesas" text-center>
                            {{mesa.mesa}}
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-item-group>

    <ion-row>
        <ion-col text-center (click)="Cancelar()">
            <ion-icon ios="ios-close-circle" md="md-close-circle" class="icono"></ion-icon>
        </ion-col>
        <ion-col text-center (click)="Aceptar()">
            <ion-icon ios="ios-checkmark-circle" md="md-checkmark-circle" class="icono"></ion-icon>
        </ion-col>
    </ion-row>
</ion-content>
