<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
          <img src="./assets/imgs/Group4.png" alt="" class="imgMenu" />
        </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" style="width: 60%" alt="" />
            </ion-col>
            <ion-col>
                &nbsp;
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- <div class="contenedor-responsivo">
        <div class="mask" *ngIf="showLoading">
            <i class="pei pei-spinner"></i>
        </div>
        <iframe #iframe [src]="url" class="iframe-responsivo" frameborder="0" (load)="onLoad()"></iframe>
    </div> -->
    <ion-scroll scrollX="true" scrollY="true" zoom="true">
        <ion-img [src]="CroquisImg" class="iframe-responsivo" (click)="showImagCroquis(CroquisImg)"></ion-img>
    </ion-scroll>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <form [formGroup]="zonaForm">
                    <ion-list>
                        <ion-item>
                            <ion-label>Zonas</ion-label>
                            <ion-select cancelText="Cancelar" okText="Aceptar" [(ngModel)]="zona" name="zona" formControlName="zona" (ngModelChange)="getZona($event)">
                                <ion-option [value]="zona.uid" *ngFor="let zona of zonas">{{zona.nombre}}</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div text-center>
                    <button ion-button round block color="dark" (click)="(irReservaciones())">
            Atras
          </button>
                </div>
            </ion-col>
            <ion-col col-6>
                <div text-center>
                    <button ion-button round block color="dark" (click)="(updateZona())" [disabled]="!zonaForm.valid">
            Continuar
          </button>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>