<ion-header>
    <ion-navbar class="borde">
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
          <!-- <ion-icon item-start name="menu" class="colorIcon31" style="zoom:1.5;"></ion-icon> -->
          <img src="./assets/imgs/Group4.png" alt="" class="imgMenu" />
        </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%" alt="" />
            </ion-col>
            <ion-col>
                <div align="end">
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width: 40%; border-radius: 50%" />
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px; height: 46px; border-radius: 50%" />
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width: 85%; border-radius: 50%" />
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px; height: 46px; border-radius: 50%" />
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <p class="lugar">
                Reservaciones
                <br />
                <img src="./assets/icon/Vector10.png" style="width: 40%" alt="" />
            </p>
            <p class="detalle">En curso</p>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <!--Termina mostrar reservacions compartidas con el usuario-->
    <ion-card class="card_atras" *ngFor="let reservaciones of misReservaciones">
        <div *ngFor="let zonas of nombresZonas">
            <div *ngFor="let sucursales of nombresSucursales">
                <div *ngIf="reservaciones.idZona==zonas.uid">
                    <div *ngIf="reservaciones.idSucursal==sucursales.uid">
                        <!--Mostrar reservaciones en estatus Creando-->
                        <div *ngIf="reservaciones.estatus=='Creando'">
                            <ion-card-content class="card_atras">
                                <ion-card-title>
                                    <h5 class="blanco_1">
                                        Reservación en {{sucursales.displayName}}
                                    </h5>
                                </ion-card-title>
                                <p class="blanco_2"></p>
                                <ion-item class="card_atras">
                                    <p class="blanco_2"><b>Fecha de reservación</b></p>
                                    <ion-badge class="negro" item-end>{{reservaciones.fechaR}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a class="blanco_2"><b>Estatus</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.estatus}}
                                    </ion-badge>
                                    <ion-badge class="imgbadge" item-end><img src="../assets/imgs/amarillo.png" style="width: 20px" alt="" /></ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a class="blanco_2"><b>Folio</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.folio}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a (click)="verDetalle(reservaciones.idReservacion)" class="blanco_2">
                                        <b> Más detalles </b></a>
                                    &nbsp;&nbsp;&nbsp;
                                    <ion-icon name="md-arrow-dropdown" style="color: #fd9530" (click)="verDetalle(reservaciones.idReservacion)"></ion-icon>
                                    <ion-badge item-end></ion-badge>
                                </ion-item>
                                <img src="../assets/imgs/linea.png" alt="" />
                            </ion-card-content>
                        </div>

                        <!--Mostrar reservaciones en estatus Modificado opcion de aceptar o cancelar reserevacion-->
                        <div *ngIf="reservaciones.estatus=='Modificado'">
                            <ion-card-content class="card_atras">
                                <ion-card-title>
                                    <h5 class="blanco_1">
                                        Reservación en {{sucursales.displayName}}
                                    </h5>
                                    <ion-badge class="colornaranja">Tu reservación ha sido reasignada a <br /> la zona: {{zonas.nombre}} <br /> el consumo sugerido es: {{zonas.consumo | currency}}
                                    </ion-badge>
                                </ion-card-title>
                                <p class="blanco_2"></p>
                                <ion-item class="card_atras">
                                    <p class="blanco_2"><b>Fecha de reservación</b></p>
                                    <ion-badge class="negro" item-end>{{reservaciones.fechaR}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a class="blanco_2"><b>Estatus</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.estatus}}</ion-badge>
                                    <ion-badge class="imgbadge" item-end><img src="../assets/imgs/amarillo.png" style="width: 20px" alt="" /></ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a class="blanco_2"><b>Folio</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.folio}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <a (click)="verDetalle(reservaciones.idReservacion)" class="blanco_2">
                                        <b>Más detalles</b></a>
                                    &nbsp;&nbsp;&nbsp;
                                    <ion-icon name="md-arrow-dropdown" style="color: #fd9530" (click)="verDetalle(reservaciones.idReservacion)"></ion-icon>
                                    <ion-badge item-end></ion-badge>
                                </ion-item>
                                <img src="../assets/imgs/linea.png" alt="" />
                                <ion-item class="card_atras">
                                    <div class="centradoB">
                                        <ion-row>
                                            <ion-col col-7>
                                                <button ion-button class="botonnaranja" (click)="verCarta(reservaciones.idReservacion, reservaciones.idSucursal, reservaciones.idevento)">
                          Aceptar reservacion
                        </button>
                                            </ion-col>
                                            <ion-col col-5>
                                                &nbsp;&nbsp;&nbsp;&nbsp;
                                                <button ion-button class="botonnaranja" (click)="CancelarReservacion(reservaciones.idReservacion )">
                          Cancelar
                        </button>
                                            </ion-col>
                                        </ion-row>
                                    </div>
                                </ion-item>
                            </ion-card-content>
                        </div>
                        <!--Mostrar reservaciones en estatus Aceptado-->
                        <div *ngIf="reservaciones.estatus=='Aceptado'">
                            <ion-card-content class="card_atras">
                                <ion-card-title>
                                    <h5 class="blanco_1">
                                        Reservación en {{sucursales.displayName}}
                                    </h5>
                                </ion-card-title>
                                <p class="blanco_2"></p>
                                <ion-item class="card_atras">
                                    <p class="blanco_2"><b>Fecha de reservación</b></p>
                                    <ion-badge class="negro" item-end>{{reservaciones.fechaR}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <!-- <img class="icon" src="../assets/imgs/icons/time.png" item-start> -->
                                    <a class="blanco_2"><b>Estatus</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.estatus}}</ion-badge>
                                    <ion-badge class="imgbadge" item-end><img src="../assets/imgs/verde.png" style="width: 20px" alt="" /></ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <!-- <img class="icon" src="../assets/imgs/icons/sucursal.png" item-start> -->
                                    <a class="blanco_2"><b>Folio</b></a>
                                    <ion-badge class="negro" item-end>{{reservaciones.folio}}</ion-badge>
                                </ion-item>
                                <ion-item class="card_atras">
                                    <!-- <img class="icon" src="../assets/imgs/icons/mas.png" item-start> -->
                                    <a (click)="verDetalle(reservaciones.idReservacion)" class="blanco_2">
                                        <b>Más detalles</b></a>
                                    &nbsp;&nbsp;&nbsp;
                                    <ion-icon name="md-arrow-dropdown" style="color: #fd9530" (click)="verDetalle(reservaciones.idReservacion)"></ion-icon>
                                    <ion-badge item-end></ion-badge>
                                </ion-item>
                                <img src="../assets/imgs/linea.png" alt="" />
                            </ion-card-content>
                        </div>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
        <!--</div>-->
    </ion-card>

    <!--MOSTRAR RESERVACIONES QUE SE HAN COMPARTIDO CON EL USUARIO-->
    <ion-card class="card_atras" *ngFor="let compartidas of resCompartidas">
        <div *ngFor="let reservacion of infoResevaciones">
            <!--DEJAR DE MOSTRAR EL ESTATUS RECHAZADO DE UNA RESERVACION COMPARTIDA-->
            <div *ngIf="reservacion.estatus=='Compartida'">
                <div *ngIf="compartidas.estatus!='Rechazado'">
                    <div *ngIf="reservacion.idReservacion==compartidas.idReservacion">
                        <ion-card-content class="card_atras">
                            <ion-card-title>
                                <h5 class="blanco_1">Reservación Compartida</h5>
                            </ion-card-title>
                            <p class="blanco_2"></p>
                            <ion-item class="card_atras">
                                <p class="blanco_2"><b>Fecha de reservación</b></p>
                                <ion-badge class="negro" item-end>{{reservacion.fechaR}}</ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a class="blanco_2"><b>Estatus{{tamano}}</b></a>
                                <ion-badge class="negro" item-end>{{reservacion.estatus}}</ion-badge>
                                <ion-badge class="imgbadge" item-end><img src="../assets/imgs/amarillo.png" style="width: 20px" alt="" /></ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a class="blanco_2"><b>Folio</b></a>
                                <ion-badge class="negro" item-end>{{reservacion.folio}}</ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a (click)="verDetalle(reservacion.idReservacion)" class="blanco_2">Más detalles</a
                >
                &nbsp;&nbsp;&nbsp;
                <ion-icon
                  name="md-arrow-dropdown"
                  style="color: #fd9530"
                  (click)="verDetalle(reservacion.idReservacion)"
                ></ion-icon>
                <ion-badge item-end></ion-badge>
              </ion-item>
              <img src="../assets/imgs/linea.png" alt="" />
              <div *ngIf="compartidas.estatus=='Espera'">
                <ion-item class="colornaranja">
                  <div class="centradoB">
                    <div class="texto_compartir">
                      *Invitación para que el total de
                    </div>
                    <div class="texto_compartir">
                      la cuenta se divida contigo.
                    </div>
                    <button
                      ion-button
                      class="botonnaranja"
                      (click)="aceptarCompartir(compartidas.idCompartir,reservacion.idReservacion)"
                    >
                      Acepto dividir cuenta
                    </button>
                    <button
                      ion-button
                      class="botonnaranja"
                      (click)="rechazarCompartir(compartidas.idCompartir,reservacion.idReservacion)"
                    >
                      No acepto
                    </button>
                  </div>
                </ion-item>
              </div>
            </ion-card-content>
          </div>
        </div>
      </div>
      <div *ngIf="reservacion.estatus=='CreadaCompartida'">
        <div *ngIf="compartidas.estatus!='Rechazado'">
          <div *ngIf="reservacion.idReservacion==compartidas.idReservacion">
            <ion-card-content class="card_atras">
              <ion-card-title>
                <h5 class="blanco_1">Reservación Compartida</h5>
              </ion-card-title>
              <p class="blanco_2"></p>
              <ion-item class="card_atras">
                <p class="blanco_2"><b>Fecha de reservación</b></p>
                <ion-badge class="negro" item-end
                  >{{reservacion.fechaR}}</ion-badge
                >
              </ion-item>
              <ion-item class="card_atras">
                <a class="blanco_2"><b>Estatus{{tamano}}</b></a>
                                <ion-badge class="negro" item-end>Compartida</ion-badge>
                                <ion-badge class="imgbadge" item-end><img src="../assets/imgs/amarillo.png" style="width: 20px" alt="" /></ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a class="blanco_2"><b>Folio</b></a>
                                <ion-badge class="negro" item-end>{{reservacion.folio}}</ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a (click)="verDetalle(reservacion.idReservacion)" class="blanco_2">
                                    <b> Más detalles</b></a>
                                &nbsp;&nbsp;&nbsp;
                                <ion-icon name="md-arrow-dropdown" style="color: #fd9530" (click)="verDetalle(reservacion.idReservacion)"></ion-icon>
                                <ion-badge item-end></ion-badge>
                            </ion-item>
                            <img src="../assets/imgs/linea.png" alt="" />
                        </ion-card-content>
                    </div>
                </div>
            </div>
            <div *ngIf="reservacion.estatus=='AceptadoCompartida'">
                <div *ngIf="compartidas.estatus!='Rechazado'">
                    <div *ngIf="reservacion.idReservacion==compartidas.idReservacion">
                        <ion-card-content class="card_atras">
                            <ion-card-title>
                                <h5 class="blanco_1">Reservación Compartida</h5>
                            </ion-card-title>
                            <p class="blanco_2"></p>
                            <ion-item class="card_atras">
                                <p class="blanco_2"><b>Fecha de reservación</b></p>
                                <ion-badge class="negro" item-end>{{reservacion.fechaR}}</ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <!-- <img class="icon" src="../assets/imgs/icons/time.png" item-start> -->
                                <a class="blanco_2"><b>Estatus{{tamano}}</b></a>
                                <ion-badge class="negro" item-end>Compartida</ion-badge>
                                <ion-badge class="imgbadge" item-end><img src="../assets/imgs/verde.png" style="width: 20px" alt="" /></ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a class="blanco_2"><b>Folio</b></a>
                                <ion-badge class="negro" item-end>{{reservacion.folio}}</ion-badge>
                            </ion-item>
                            <ion-item class="card_atras">
                                <a (click)="verDetalle(reservacion.idReservacion)" class="blanco_2">Más detalles</a
                >&nbsp;&nbsp;&nbsp;
                <ion-icon
                  name="md-arrow-dropdown"
                  style="color: #fd9530"
                  (click)="verDetalle(reservacion.idReservacion)"
                ></ion-icon>
                <ion-badge item-end></ion-badge>
              </ion-item>
              <img src="../assets/imgs/linea.png" alt="" />
            </ion-card-content>
          </div>
        </div>
      </div>
    </div>
  </ion-card>
</ion-content>