page-login-correo {
    ion-content {
        background-image: url('../assets/imgs/Guest 159 1.png');
        // background-image: url('../assets/imgs/Rectangle 12.png');
        background-repeat: no-repeat;
        background-size: cover;
        //background-position: center;
        width: 100%;
        position: relative;
        border: none;
    }
    .borde {
        margin-top: 0em;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: #e49602;
    }
    .ima {
        height: 28px;
        width: 28px;
        background-color: black;
        margin-left: 120%;
        margin-top: 55%;
    }
    .esquina {
        background-color: black;
    }
    .texto-alineado {
        margin-top: 4%;
        margin-left: -40%;
    }
    .registro {
        background-color: #fd9530;
    }
    .header {
        color: white;
        font-size: x-large;
        text-align: center;
    }
    .recuadro {
        background-color: #fd9530;
        color: white;
    }
    ._input {
        background: #00000026;
        margin-top: 5px;
    }
    .envio {
        background: #fd9530;
        border-radius: 20px;
        width: 100%;
        height: 45px;
        color: #ffffff;
        letter-spacing: 0.25em;
        font-size: 18px;
    }
    //Nuevo
    .toolbar-background {
        background-image: url('../assets/content/head.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .atras {
        width: 4rem;
        height: 4rem;
        margin-top: 1rem;
    }
    .recuperar-pass{
        width: auto;
        height: auto;
        position: absolute;
        top: 20rem;
        margin-right: 2rem;
    }
}