<ion-header>
    <ion-navbar class="borde">
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
                    <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
                </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <!-- <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:40%;border-radius:50%;">
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:85%;border-radius:50%;">
                    </div>
                </div> -->
                <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                                style="width:85%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page" style="border-radius: 0px;">

    <ion-row>
        <ion-col col-5>
            <h2>
                <b>CUPONES</b>
                <div class="detalle">Activos</div>
            </h2>
        </ion-col>
    </ion-row>

    <hr>

    <!-- <h2 class="titulos">Cupones disponibles</h2> -->
    <div *ngFor="let sucursal of totalsucursal">
        <div *ngIf="usuario.ciudad == sucursal.ciudad">
            <div *ngFor="let cupones of totalcupones" style="text-align: center;">
                <div *ngIf="sucursal.uid == cupones.idSucursal">
                    <div *ngFor="let cupon of cupones_visibles">
                        <div *ngIf="cupones.uid == cupon">
                            <div *ngIf=" cupones.numCupones > 0">
                                <div *ngIf=" cupones.estatus == 'Activo'">
                                    <div *ngIf="cupones.fechaExpiracion >= fechaActual">
                                        <ion-card>
                                            <img src="./assets/imgs/Vector (3).png" alt="">
                                            <ion-grid>
                                                <div class="card-title">
                                                    <ion-row>
                                                        <ion-col col-6>
                                                            {{ cupones.valorCupon | currency}}
                                                        </ion-col>
                                                        <ion-col col-6 class="logoB">
                                                            <img src="./assets/imgs/Logoblanco.png"
                                                                style="margin-top:-10px;width:55px; margin-left:40px">

                                                            <div>
                                                                <p class="card-subtitle1">Sucursal: {{sucursal.displayName}}</p>
                                                                <p class="card-subtitle2">Valido hasta el: {{ cupones.fechaExpiracion | date:'d-MM-yyyy' }}</p>
                                                            </div>
                                                        </ion-col>
                                                    </ion-row>
                                                </div>
                                            </ion-grid>

                                            <div class="card-subtitle"><b>MXN de descuento</b></div>
                                        </ion-card>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</ion-content>