@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/source_sans_pro.woff2') format('woff2');
  }
  
  *{
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  
    h4 {
        color: #ffffff
    }
    //ion-content {
    //  background-color: transparent;
    //  background: transparent;
    //}
    .transparent-body {
        background: none transparent !important;
        opacity: 0 !important;
    }

    ion-icon {
        &[class*="custom-"] {
            mask-size: contain;
            mask-position: 50% 50%;
            mask-repeat: no-repeat;
            background: currentColor;
            width: 1em;
            height: 1em;
            margin-right: 5px;
        }
        &[class*="custom-relog"] {
            mask-image: url(../../assets/imgs/icons/relog.png);
        }
        &[class*="custom-corona"] {
            mask-image: url(../../assets/imgs/icons/corona.png);
        }
        &[class*="custom-facebook"] {
            mask-image: url(../../assets/imgs/icons/facebook.PNG);
        }
        &[class*="custom-user"] {
            mask-image: url(../../assets/imgs/icons/profile.PNG);
        }
    }

    .blanco{
        color: #ffffff;
        font: bold;
        font-weight: 900;
        border-radius: 10px;
    }

    ion-app.md [padding] {
        padding: 3px;
    }

    .imagen_perfil {
        text-align: center;
        height: 70px;
        width: 70px;
        // margin-top: 10px;
        // margin-bottom: 1px;
        border-radius: 250px;
    }
  

    .imgRedonda {
        width:120px;
        height: 120px;
        border-radius:50%;
        margin-top: 10px;
        // border:2px solid #ffffff;
    }

    .imgRedondas {
        width: 200px;
        height: 120px;
        border-radius: 50%;
        margin-top: 10px;
    }

    .imgFotogoogle{
        width: 140px;
        height: 150px;
        border-radius: 50%;
        margin-top: 10px;    
    }
  
    .cate {
        height: 164px;
        width: 202px;
    }

    .nombre {
        color: white;
        font-size: large;
    }
  

    h6 {
        color: #ffffff
    }
  
    .margen1_app {
        margin-bottom: -8em;
        margin-top: -4.8em;
        margin-left: 5em;
    }
  
    .margen2_app {
        margin-top: -5em;
        margin-left: 7em;
    }
  
    .margen3_app {
        //margin-top: 1em;
        // text-align: right;
        // margin-bottom: 1em;
        // margin-top: 1em;
    }
  
    .margen4_app {
        margin-top: -2em;
    }
  
    .borde {
        margin-top: 10em;
        // border-style: solid;
        // border-width: 2px;
        // border-bottom-color: #ffffff;
    }

    .mayusculas{
        text-transform:uppercase;
    }
