<ion-header>
    <ion-navbar class="borde" hideBackButton>
        <ion-row>
            <ion-col>
                <button ion-button menuToggle class="botonMod">
                    <!-- <ion-icon item-start name="menu" class="colorIcon3" style="zoom:1.5;"></ion-icon> -->
                    <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
                </button>
            </ion-col>
            <ion-col align="center">
                <img src="./assets/imgs/Logoblanco.png" style="width: 60%;" alt="">
            </ion-col>
            <ion-col>
                <!-- <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:40%;border-radius:50%;">
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                            style="width:85%;border-radius:50%;">
                    </div>
                </div> -->
                <div align='end'>
                    <div *ngIf="miUser.provider == 'facebook'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
                        </div>
                    </div>
                    <div *ngIf="miUser.provider == 'google'">
                        <div *ngIf="miUser.status_foto == 0">
                            <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:85%;border-radius:50%;">
                        </div>
                        <div *ngIf="miUser.status_foto == 1">
                            <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
                        </div>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- <ion-list *ngFor='let task of tasks | async'>
    <ion-item>{{ task.name }}</ion-item>
</ion-list> -->
    <!--Barra de busqueda-->
    <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
          <div *ngFor="let sucur of sucurSel">
             <p class="lugar" *ngIf="sucur.uid == idSucursal">
                 LUGAR: {{ sucur.displayName}} {{eventoSel.titulo}}
                 <br>
                 <!-- <span style="position:absolute;margin-top:-10px">________________</span> -->
                 <img src="./assets/icon/Vector10.png" style="width: 40%;" alt="">
             </p>
          </div>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-3></ion-col>
        <ion-col col-6>
            <ion-card class="cuadro">
                Carta de bebidas
            </ion-card>
        </ion-col>
        <ion-col col-3></ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-1></ion-col>
        <ion-col>
            <!-- <ion-card class="cuadro">
                Carta de bebidas
            </ion-card> -->
            <ion-card class="descripcion">
                <br>
                <ion-row *ngFor="let cartaItem of cartas">
                    <ion-col col-1><img src="./assets/icon/Group 49.png" style="margin-top: 10%;" alt=""></ion-col>
                    <ion-col col-3 class="letra">{{cartaItem.titulo}}</ion-col>
                    <ion-col col-3 class="letraContenido">{{cartaItem.categoria}}</ion-col>
                    <ion-col col-4 class="precio">{{cartaItem.precio | currency}}</ion-col>
                    <ion-col col-1>
                        <!-- <ion-icon name="eye" style="color: #FD9530;font-size: 25px;"
                            (click)="productoDetalle(cartaItem.uid)">
                        </ion-icon> -->
                        <ion-icon name="ios-checkbox-outline" style="color: black;" (click)="productoDetalle(cartaItem.uid)"></ion-icon>
                    </ion-col>
                </ion-row>
            </ion-card>
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

    <!-- <ion-card class="card_atras2">
        <ion-card-header class="card_atras2">
            <p class="blanco_1" text-center text-color="texto3"> Carta de bebidas </p>
        </ion-card-header>

    </ion-card> -->

    <!-- <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let cartaItem of cartas">
                <ion-card class="card_atras">
                    <ion-card-content class="card_atras">
                        <img [src]="cartaItem.img" />
                        <ion-card-title class="blanco_3" text-center>
                            {{cartaItem.titulo}}
                        </ion-card-title>
                        <p class="blanco_2">{{cartaItem.categoria}}</p>
                        <ion-item class="card_atras">
                            <img class="icon" src="../assets/imgs/icons/billete.png" item-start>
                            <ion-badge class="fon" item-end>{{cartaItem.precio | currency}}</ion-badge>
                        </ion-item>
                        <ion-item style="text-align: right;" class="card_atras" (click)="productoDetalle(cartaItem.uid)">
                            <img class="icon" src="../assets/imgs/icons/corona.png" item-end>
                            <a class="blanco_2">Reservar</a>
                            <ion-badge item-end></ion-badge>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>

<ion-footer no-border>
    <!-- <ion-toolbar> -->
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <div text-center>
                        <button ion-button round block color="dark" (click)="(goBack())">Atras</button>
                    </div>
                </ion-col>
                <ion-col col-6>
                    <div text-center>
                        <button ion-button round block color="dark" (click)="(goToResumen(consumo, total))">{{total | currency}} <ion-icon
                              name="arrow-dropright" class="total"></ion-icon></button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    <!-- </ion-toolbar> -->
</ion-footer>
