page-politicas {

    .toolbar-background {
        background-image: url('../assets/content/head.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .borde {
        margin-top: 0em;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: #e49602;
    }

    .titulo {
        text-align: center;
        font-size: large;
        font-weight: bold;
    }

    .aviso {
        font-size: 11px;
        font-weight: bold;
    }

    .acepto {
        border-radius: 25px;
    }
}
