<ion-header class="fondo">
    <ion-navbar hideBackButton>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title><h6 class="blanco_2">{{product.titulo}}</h6></ion-title>
                </ion-col>
                <ion-col >
                </ion-col>
                <ion-col>
                     <img class="icon_img" src="../assets/imgs/icons/corona.png">
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page" padding>
    <ion-card class="card-fondo">
        <img [src]="product.img" />
        <!--<div class="card-title">
            <ion-badge id="color-nota" item-end id="badge-titulo">
                <div text-wrap>
                    {{product.nota}}
                </div>
            </ion-badge>
        </div>-->
        <!--<div class="card-subtitle">
            <ion-badge color="dark" item-end id="badge-stitulo">{{product.precio | currency}}
            </ion-badge>
        </div>-->
    </ion-card>
    <ion-card class="card_atras2">
        <ion-card-header >
            <p class="blanco_2" text-center>{{product.nota}}</p>
            <p class="blanco_1" text-center>{{product.categoria}}</p>
        </ion-card-header>
    </ion-card>
    <ion-card class="card_atras3">
      <ion-item class="card_atras3">
          <a class="blanco_2" item-start>PRECIO</a>
          <p class="blanco_2" item-end>{{product.precio | currency}}</p>
      </ion-item>
    </ion-card>
    <ion-grid id="pisto">
        <ion-row>
            <ion-col col-4>
                <div text-right>
                    <img src="assets/imgs/icons/-.png" id="mas_menos" (click)="decrement(); validarBoton();">
                </div>
            </ion-col>
            <ion-col col-4 id="caja">
                <div class="caja" text-center>
                    <span>{{pisto}}</span>
                </div>
            </ion-col>
            <ion-col col-4>
                <div text-rigth>
                    <img src="assets/imgs/icons/+.png" id="mas_menos" (click)="increment(); validarBoton();">
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <div text-center>
                    <div *ngIf="modificar != true">
                        <button ion-button round block color="dark" (click)="(agregar2(product.titulo, product.precio))" [disabled]="disableButton">Agregar</button>
                    </div>
                    <div *ngIf="modificar == true && pisto != 0">
                        <button ion-button round block color="dark" (click)="(modificar_2(product.titulo, product.precio, key))" [disabled]="disableButton">Modificar</button>
                    </div>
                    <div *ngIf="modificar == true && pisto == 0">
                        <button ion-button round block color="dark" (click)="(eliminar2(key))">Eliminar</button>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-12>
                    <div text-center>
                        <button ion-button round block color="dark" (click)="(goBack())">Atras</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
