page-historial-compartidas {

     //Nuevo
     .toolbar-background {
        background-image: url('../assets/content/head.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    //Nuevo
    .imgMenu {
        width: 40px;
        margin-top: 15px;
    }
    //Nuevo
    .colorIcon31 {
        zoom: 1;
        color: #000;
        font-size: inherit;
        margin-top: 10px;
    }
    .borde {
        margin-top: 0em;
    }
    .lugar {
        color: #FD9530;
        font-size: medium;
        text-transform: uppercase;
    }
    .detalle {
        color: #cecece;
        margin-top: -8px;
        text-transform: uppercase;
    }
    ion-content {
        // background-image: url('../assets/imgs/fondo_r3.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        position: relative;
        border: none;
    }
    .icon {
        height: 25px;
        width: 25px;
    }
    // ion-icon{
    //   color: #e49602;
    // }
    .icon_img {
        width: 30px;
        height: 30px;
        margin-left: 25%;
        margin-top: 15%;
    }
    .blanco_1 {
        font-size: 17px;
        resize: none;
        color: #706F6F;
        text-transform: uppercase;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .blanco_2 {
        font-size: 17px;
        resize: none;
        color: #706F6F;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .texto_compartir {
        font-size: 14px;
        resize: none;
        color: #706F6F;
    }
    .negro {
        background: #fff;
        color: #cecece;
        font-size: 16px;
    }
    a {
        color: #eccc68;
    }
    .borde {
        margin-top: 0em;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: #e49602;
    }
    .centradoB {
        text-align: center;
    }
    .icono {
        margin-top: 15%;
    }
    .card-md {
        margin: 1px 0px;
    }
    .colorIcon3 {
        color: #e49602;
        margin-top: 40%;
    }
    .texto-alineado {
        margin-left: -38%;
        margin-top: -1%;
    }
    .esquina {
        background-color: black;
    }
    .ima {
        height: 28px;
        width: 28px;
        background-color: black;
        margin-left: 150%;
        margin-top: 36%;
    }
    .colornaranja {
        background-color: #FD9530;
        font-size: 13px;
        text-transform: uppercase;
    }
    .botonnaranja {
        background-color: #FD9530;
        height: 35px;
        border-radius: 15px;
        text-transform: uppercase;
    }
    .imgbadge {
        background-color: #fff;
    }
    .imgStatus {
        width: 20px;
        margin-inline: auto;
    }
    .content {
        overflow: scroll;
        max-height: 100vh;
        width: 100vw;
        margin: auto;
      }
      .container{
        height: 970px;
        padding-right: 2em;
      }
}
