page-propina {
    //Nuevo
    .toolbar-background {
        background-image: url('../assets/content/head.png')!important;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .borde {
        margin-top: 0em;
    }
    //Nuevo
    .botonMod {
        // background: white;
        // height: 38px;
        // border-radius: 60%;
        // margin-top: 5px;
        // width: 26px;
    }
    .imgMenu {
        width: 40px;
        margin-top: 15px;
    }
    //Nuevo
    .colorIcon3 {
        zoom: 1;
        color: #000;
        font-size: inherit;
    }
    .ion-icon {
        color: #706F6F;
        font-size: 30px;
        margin-top: -5px;
        font-weight: bold;
    }
    .lugar {
        color: #FD9530;
        font-size: medium;
        text-transform: uppercase;
    }
    .detalle {
        color: #474646;
        margin-top: -10px;
    }
    // ion-content {
    //     background-image: url('../assets/imgs/fondo_r3.png');
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     //background-position: center;
    //     width: 100%;
    //     position: relative;
    //     border: none;
    // }
    // .toolbar-background-md {
    //     background-color: rgba(0, 0, 0, 0.5);
    // }
    // .toolbar-background-ios {
    //     background-color: rgba(0, 0, 0, 0.5);
    // }
    //NUEVOS
    .borde {
        margin-top: 0em;
        border-style: solid;
        border-width: 1px;
        border-bottom-color: #e49602;
    }
    .ima {
        height: 28px;
        width: 28px;
        background-color: black;
        margin-left: 120%;
        margin-top: 55%;
    }
    .esquina {
        background-color: black;
    }
    .texto-alineado {
        margin-top: 4%;
        margin-left: -20%;
    }
    .bordeCard {
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 0%, rgb(46, 46, 46) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
        // font-weight: bold;
        //background-color: red;
        //margin-top: -10px;
    }
    .colorRow {
        background-color: #e49602;
        height: 41px;
    }
    [text-color="texto1"] {
        color: #ffffff;
    }
    [text-color="texto2"] {
        color: #000000;
    }
    [text-color="texto3"] {
        color: #ffffff;
        font-family: "TimesNewRoman" !important;
        text-transform: uppercase;
    }
    .card_atras {
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(68, 71, 75, 0.05) 2%, rgba(0, 0, 0, 1) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        /* IE6-9 */
    }
    ion-list .item {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eccc68+80,fefcea+80&0.05+0,0.05+100 */
        background: -moz-linear-gradient(top, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(254, 252, 234, 0.05) 0%, rgba(254, 252, 234, 0.05) 80%, rgba(254, 252, 234, 0.05) 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        //   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0dfefcea', endColorstr='#0dfefcea', GradientType=0);
        //   /* IE6-9 */
        color: #ffffff;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .item-md {
        padding-left: 0px;
    }
    .blanco_1 {
        font-size: 15px;
        text-transform: uppercase;
        // resize: none;
        color: #706F6F;
    }
    .blanco_12 {
        font-size: 12px;
        text-transform: uppercase;
        // resize: none;
        color: #706F6F;
    }
    .blanco_2 {
        font-size: 11px;
        resize: none;
        color: #FFFFFF;
    }
    ._footer {
        background-color: #000000c2;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10%;
        color: rgb(255, 255, 255);
    }
    .select-propina {
        color: #99a2ae;
    }
}