<ion-header>
  <ion-navbar class="borde">
    <ion-row>
      <ion-col>
        <button ion-button menuToggle class="botonMod">
          <!-- <ion-icon item-start name="menu" class="colorIcon31" style="zoom:1.5;"></ion-icon> -->
          <img src="./assets/imgs/Group4.png" alt="" class="imgMenu">
        </button>
      </ion-col>
      <ion-col align="center">
        <img src="./assets/imgs/Logoblanco.png" (click)="goInicio()" style="width: 60%;" alt="">
      </ion-col>
      <ion-col>
        <!-- <div align='end'>
          <div *ngIf="miUser.provider == 'facebook'">
            <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                style="width:40%;border-radius:50%;">
          </div>
          <div *ngIf="miUser.provider == 'google'">
              <img src="{{miUser.photoURL}}?type=large&width=720&height=720"
                  style="width:85%;border-radius:50%;">
          </div>
        </div> -->
        <div align='end'>
          <div *ngIf="miUser.provider == 'facebook'">
            <div *ngIf="miUser.status_foto == 0">
              <img src="{{miUser.photoURL}}" style="width:40%;border-radius:50%;">
            </div>
            <div *ngIf="miUser.status_foto == 1">
              <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius:50%;">
            </div>
          </div>
          <div *ngIf="miUser.provider == 'google'">
            <div *ngIf="miUser.status_foto == 0">
              <img src="{{miUser.photoURL}}?type=large&width=720&height=720" style="width:85%;border-radius:50%;">
            </div>
            <div *ngIf="miUser.status_foto == 1">
              <img src="{{miUser.photoURL}}" style="width: 43px;height: 46px;border-radius: 50%;">
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <br>
  <br>
  <label for="" style="margin-left:20px; margin-top:10px;color:#FD9530">HISTORIAL</label>
  <br>
  <span style="margin-left:20px;position:absolute;margin-top:-10px">____________</span>
  <br>
  <br>
  <!--prueba de consula-->
  <ion-card>

    <div style="color: papayawhip;">

      <div *ngFor="let area of areas"> {{ historial.estatus }}
        <!-- <ion-option *ngFor="let area of areas" [value]="area.$key">{{ area.estatus }}</ion-option>-->
      </div>
    </div>

  </ion-card>

  <ion-card *ngFor="let historia of historial; let i = index">
    <ion-card-content>
      <FONT SIZE="2" for="" style="opacity:.6">RESERVACIÓN {{i}}</FONT>
      <br>
      <span style="position:absolute;margin-top:-16px">_____________________</span>
      <br>
      <div class="row">

        <div class="col-8">

          <div class="" *ngFor="let sucurs of sucursal of sucursal">
            <div class="" *ngIf="historia.idSucursal == sucurs.$key">
              <p style="margin-left:30px;opacity:.6">{{sucurs.displayName}}</p>
              <img src="{{sucurs.photoURL}}?type=large&width=720&height=720" style="width:95px;height:120px">

              <!-- <img class="" src="../assets/imgs/patrick-tomasso-GXXYkSwndP4-unsplash1.png" style="width:95px" item-start> -->

            </div>
          </div>

        </div>


        <div class="col-4">

          <ion-item>
            <!-- <img class="icon" src="../assets/imgs/icons/calendario.png" item-start> -->
            <p class="">Fecha de reservación</p>
            <p class="" item-end>{{ historia.fechaR }} </p>
          </ion-item>
          <ion-item>
            <!-- <img class="icon" src="../assets/imgs/icons/time.png" item-start> -->
            <p class="">Estatus</p>
            <p item-end> {{ historia.estatus }} </p>
          </ion-item>
          <ion-item>
            <!-- <img class="icon" src="../assets/imgs/icons/admin- user.png" item-start> -->
            <p class="">No. Personas</p>
            <p class="" item-end> {{ historia.numPersonas }} </p>
          </ion-item>

          <ion-item (click)="presentModal( historia)">
            <ion-badge item-end></ion-badge>
            <!-- <img class="icon" src="../assets/imgs/icons/mas.png" item-start> -->
            <ion-badge class="negro">Más detalles</ion-badge>
            <ion-badge item-end></ion-badge>
          </ion-item>
        </div>
      </div>

    </ion-card-content>
  </ion-card>

</ion-content>